.note {
	position: absolute;
	top: -0.1rem;
	right: -0.1rem;
	opacity: 0.8;

	& ~ ion-icon {
		margin-right: 0.4rem;
	}

  background-color: rgba(0, 0, 0, 0.0);
  color: var(--ion-color-tertiary)
}

.progress_container {
	padding-right: 16px;
	padding-left: 16px;
	background-color: var(--ion-color-secondary);
}


.progress-background {
  position: absolute;
  left: 0;
  
  width: 100%;
  height: 6px;
  background: var(--ion-color-light);
}


.progress {
  position: absolute;
  left: 0;
  
  width: 1px;
  height: 6px;
  background: var(--ion-color-primary);
  transition: width .1s linear;
}

.buffer {
  position: absolute;
  left: 0;
  
  width: 1px;
  height: 6px;
  background: var(--ion-color-tertiary);
  transition: width .1s linear;
}


.time-container {
	background-color: var(--ion-color-secondary);
  padding-bottom: 4%; 
}


.time-current {
  direction: rtl;
  float: left;
  margin-left: 6%;
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-light);
}


.time-duration {
  direction: rtl;
	margin-right: 6%;
	background-color: var(--ion-color-secondary);
	color: var(--ion-color-light);
}