<ion-item *ngIf="playerSrvs.track && !playerSrvs.minimini" color="secondary" 
>
  

  <ion-item-group> 
  
  <ion-button fill="clear" color="light" (click)="showMaxPlayer()">
    <ion-icon name="square-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" color="light" (click)="showMinimini()">
    <ion-icon name="remove"></ion-icon>
  </ion-button>


  <ion-item color="secondary" >
    <ion-label class="small-label"
    (click)="showMaxPlayer()">{{playerSrvs.track.name}}
    </ion-label>

    <ion-button color="tertiary" fill="clear" size="small" (click)="showArtist(playerSrvs.track.artists[0])">
          ({{playerSrvs.track.artists[0].name}})
    </ion-button>

  </ion-item>


    <ion-item color="secondary">
      
      <!-- <div style="width: 100%; padding-right: 16px;"> -->
        <ion-button  color="secondary" (click)="close()">
         <ion-icon size="large" name="close"></ion-icon>
        </ion-button>

        <ion-button *ngIf="playlistSrvs.isListplay" 
          color="secondary" (click)="play_next()">
          <ion-icon name="skip-forward"></ion-icon>
        </ion-button> 

        <ion-button  color="secondary" (click)="pause_play()">
             <ion-icon name="{{playerSrvs.status}}"></ion-icon>
        </ion-button>

        <ion-button *ngIf="playlistSrvs.isListplay"
         color="secondary" (click)="play_previous()">
          <ion-icon name="skip-backward"></ion-icon>
        </ion-button>


        <ion-button color="secondary"
                            (click)="playlistSrvs.changeMode()">

          {{playlistSrvs.isOFF() ? 'OFF' : ''}}

          <ion-badge *ngIf="playlistSrvs.isRepeatOnce()" class="note" color="tertiary">1</ion-badge>

          <ion-icon *ngIf="!playlistSrvs.isOFF()"
           [color]="!playlistSrvs.isOFF() ? 'tertiary' : ''"
            name="{{playlistSrvs.icon()}}"></ion-icon>


        </ion-button>

      <!-- </div> -->


    </ion-item>
  </ion-item-group>


  <ion-thumbnail slot="end" 
  (click)="showMaxPlayer()">
  <!-- (press)="addToFavorite()" -->

    <img src="{{playerSrvs.track.artists[0].file}}">
  </ion-thumbnail>

</ion-item>



<!-- progress -->
<ion-item *ngIf="playerSrvs.track && !playerSrvs.minimini" color="secondary" class="progress_container" (click)="seekTo($event)">

    <!-- connecting .... progress -->
    <ion-progress-bar *ngIf="playerSrvs.currentPosition === 0" 
    value="0" buffer="0"
     color="tertiary"></ion-progress-bar>

     <!-- background -->
    <div *ngIf="playerSrvs.currentBuffer > 0"  slot="end" class="progress-background" ></div>

     <!-- buffer -->
    <div *ngIf="playerSrvs.currentBuffer > 0" slot="end" [style.width.%]="playerSrvs.currentBuffer * 100" class="buffer" ></div>

    <!-- progress -->
    <div *ngIf="playerSrvs.currentPosition > 0" slot="end" [style.width.%]="playerSrvs.currentPosition * 100" class="progress" 
    ></div>

</ion-item>
<div *ngIf="playerSrvs.track && !playerSrvs.minimini" class="time-container">
  <span class="time-current">{{playerSrvs.currentTime}}</span>
  <span class="time-duration">{{playerSrvs.duration}}</span>
</div>



<!-- Minimini -->
<ion-item *ngIf="playerSrvs.track && playerSrvs.minimini" color="secondary" >

  <ion-button size="large" fill="clear" color="light" (click)="hideMinimini()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button>

  <ion-label class="small-label">{{playerSrvs.track.name}}
  </ion-label>

  <ion-button color="tertiary" fill="clear" size="small" (click)="showArtist(playerSrvs.track.artists[0])">
        ({{playerSrvs.track.artists[0].name}})
  </ion-button>

  <ion-button size="large" color="secondary" (click)="pause_play()">
    <ion-icon name="{{playerSrvs.status}}"></ion-icon>
  </ion-button>

</ion-item>
 