<ion-header>
	<app-welcome back="true"></app-welcome>
</ion-header>

<ion-content padding>
	<h3>اكتب طلبك</h3>
	
	<h5 class="error">{{error}}</h5>

	<!-- song name -->
	<ion-input [(ngModel)]="song_name"
	placeholder='اسم الاغنية'></ion-input>

	<!-- artist name -->
	<ion-input [(ngModel)]="artist_name"
	placeholder='اسم الفنان'></ion-input>

	<!-- song url -->
	<ion-input (input)="isLestining = false" [(ngModel)]="song_url"
	placeholder='رابط الاغنية'></ion-input>


	<!-- remarks -->
	<ion-textarea [(ngModel)]="remarks"
	placeholder='اي اضافات اخرى'></ion-textarea>


	<!-- submit -->
	<ion-button [hidden]="isForLestien" [disabled]="!isValid()"
	(click)="send()">ارسل</ion-button>

	<ion-button [hidden]="!isForLestien" [disabled]="!isValid()"
	(click)="lesten()">استماع</ion-button>


	<ion-button *ngIf="isLestining" [hidden]="!isForLestien" [disabled]="!canDownload"
	(click)="download()">تحميل</ion-button>

</ion-content>
<app-mini-player></app-mini-player>

<ion-footer *ngIf="downloaderSrvs.downloading === true">
	

	<ion-item>
		<ion-label>
			 {{downloaderSrvs.message}}
			%{{downloaderSrvs.progressText}}
		</ion-label>
	</ion-item>

	<ion-item>
		<ion-progress-bar color="primary"
		 value="{{downloaderSrvs.progress}}"></ion-progress-bar>
	</ion-item>
</ion-footer>