<ion-header>
  <app-welcome back="true"></app-welcome>
</ion-header>

<ion-content padding>


	<!-- *ngIf="isOwner" -->
	<ion-button  (click)="showAddPlaylist()">
		<ion-icon name="add"></ion-icon>
		اضافة قائمة جديدة
	</ion-button>

	<div *ngIf="addingPlaylist">
		<ion-input required placeholder="اكتب هنا اسم قائمة جديدة" [(ngModel)]="newPlaylistName">
		</ion-input>
		<ion-button disabled="{{newPlaylistName.length === 0}}"
		            (click)="addPlaylist()">
			<ion-icon name="add"></ion-icon>
		</ion-button>
	</div>

	<ion-list> 

		<ion-item  *ngFor="let p of playlists">
			<h3 (click)="addToPlaylist(p)">#{{p.name}}</h3>
		</ion-item>
	</ion-list>

</ion-content>
