<ion-header>
 <app-welcome back="true"></app-welcome>
</ion-header>

<ion-content>


<ion-item>
	<h3 padding >الفنانين ({{artists_count != -1? artists_count:''}})</h3>
	
	<ion-label slot="end" class="small-label" padding>عدد الاغاني: {{tracks_count != -1? tracks_count:''}}</ion-label>
</ion-item>
	<div id="artists">

		<app-track-feed [artists]="artists">
		</app-track-feed>


		<ion-infinite-scroll threshold="5%" (ionInfinite)="more($event)">
	     <ion-infinite-scroll-content
	        loadingSpinner="bubbles"
	        loadingText="تحميل المزيد...">
	     </ion-infinite-scroll-content>
	    </ion-infinite-scroll>
	</div>
	<ion-item *ngIf="artists_count != -1 && artists_count === 0">
		<ion-label>لا توجد نتائج</ion-label>
	</ion-item>

</ion-content>
