<ion-header>
 <app-welcome back="true"></app-welcome>
</ion-header>

<ion-content padding *ngIf="artist">


	<ion-grid>
	<ion-row>
	<ion-col>
		<!-- name -->
		<h3>{{artist.name}}</h3>

		<!-- subsicribe -->
		<div *ngIf="cachedSrvs.user_details">
			<ion-button *ngIf="!isSubscribed()" (click)="subscribe()">
		    تابع
			</ion-button>

			<ion-button *ngIf="isSubscribed()" (click)="unsubscribe()">
			    الغاء المتابعة
			</ion-button>
		</div>
		
		<br />

		<!-- followers -->
		<ion-label>متابعين: {{artist.subscribe_count}}</ion-label>

		<br />

		<!-- # of songs -->
		<ion-label>عدد الاغاني: {{artist.track_count}}</ion-label>

		<br />

		<!-- nationality -->
		<ion-label>البلد: {{artist.country}}</ion-label>
	</ion-col>
	<ion-col>
		<img class="profile_image" src="{{artist.file}}" width="88%">
	</ion-col>	
	</ion-row>
	</ion-grid>

	<!-- most listened songs -->
	<h3>الاغاني الاكثر استماعا</h3>
	<!-- <app-track-feed [tracks]="tracks"></app-track-feed> -->


	<ion-list [hidden]="tracks == null">
		<ion-item *ngFor="let t of tracks" (click)="playTrack(t)">

			<ion-item-group>
					<ion-label>{{t.name}}</ion-label>

					<ion-label class="small-label">{{t.artists[0].name}}</ion-label>


					<ion-label class="small-label" slot="end" >
						<ion-icon name="stats" size="small">
						</ion-icon>
						{{t.listened_times}}
					</ion-label>

			</ion-item-group>

			
			<ion-thumbnail slot="end">
			 <img src="{{t.artists[0].file}}">
			</ion-thumbnail>

			
		</ion-item>
	</ion-list>


	<ion-button *ngIf="nextTracks" (click)="moreTracks()">
		المزيد
	</ion-button>


	<!-- albums -->
	<h3>الالبومات</h3>
	<app-track-feed [albums]="albums"></app-track-feed>
	<ion-button *ngIf="nextAlbums" (click)="getAlbums(nextAlbums)">
		المزيد
	</ion-button>


	<!-- singles -->


	<!-- jalsat -->

</ion-content>
<app-mini-player></app-mini-player>