<ion-header>
  <ion-toolbar color="primary">
    <ion-title>تسجيل دخول</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


<ion-label color="danger" >{{errorMsg}}</ion-label>
<ion-item>
  <ion-label position="stacked">الايميل</ion-label>
  <ion-input [(ngModel)]="username" type="email"
				  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">كلمة السر</ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
</ion-item>
<ion-button expand="full" (click)="presentLoading()"
[disabled]="username == '' || password == ''">دخول</ion-button>

<br />
<ion-button expand="full" routerLink="/signup" routerDirection="forward">
	تسجيل جديد
</ion-button>

<ion-button expand="full" (click)="login_guest()">
	دخول زائر
</ion-button>
</ion-content>
