<ion-header>
	<app-welcome back="true"></app-welcome>
</ion-header>

<ion-content padding *ngIf="album">


	<ion-grid>
	<ion-row>
	<ion-col>
	
		<h3 text-wrap>{{album.name}}</h3>

		<ion-item-group>
		<ion-label class="small-label" color="medium" text-wrap>
			عدد الاغاني: {{album.number_of_tracks}}
		</ion-label>

		<ion-label class="small-label" color="medium" text-wrap>
			سنة: {{album.publish_date | date: 'yyyy'}}
		</ion-label>
		</ion-item-group>

	</ion-col>
	<ion-col>
		<img class="profile_image" src="{{album.file}}" width="88%">
	</ion-col>	
	</ion-row>
	</ion-grid>


	<!-- <app-track-feed [tracks]="tracks"></app-track-feed> -->
	<ion-list>
		<div *ngFor="let t of tracks" 
		(click)="playTrack(t)">
			<app-track [track]="t"></app-track> 
		</div>
	</ion-list>
    
  
</ion-content>
<app-mini-player></app-mini-player>