<ion-header>
  <app-welcome back="true"></app-welcome>
</ion-header>

<ion-content padding #hashContent>
	<ion-item>
		<ion-label text-wrap class="large-font" *ngIf="hashtag">#{{hashtag.name}}</ion-label>
	</ion-item>
	<ion-button *ngIf="cachedSrvs.user_details" (click)="faveHashtag()">
		<ion-icon name="heart"></ion-icon>
	</ion-button>

	<div *ngIf="tracks">
		

		<ion-list [hidden]="tracks == null">
			<ion-item *ngFor="let t of tracks" (click)="playTrack(t)">

				<ion-item-group>
						<ion-label>{{t.name}}</ion-label>

						<ion-label class="small-label">{{t.artists[0].name}}</ion-label>


						<ion-label class="small-label" slot="end" >
							<ion-icon name="stats" size="small">
							</ion-icon>
							{{t.listened_times}}
						</ion-label>

				</ion-item-group>

				
				<ion-thumbnail slot="end">
				 <img src="{{t.artists[0].file}}">
				</ion-thumbnail>

				
			</ion-item>
		</ion-list>



		<ion-infinite-scroll threshold="5%" (ionInfinite)="more($event)">
		 <ion-infinite-scroll-content
		    loadingSpinner="bubbles"
		    loadingText="تحميل المزيد...">
		 </ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</div>
	<ion-label *ngIf="tracks && tracks.length === 0">
		لا يوجد اغاني في هذا الهاشتاق
	</ion-label>
</ion-content>
<app-mini-player></app-mini-player>

