// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/


  // --ion-background-color:#272424 ;



:root {

  --ion-background-color:#2C001E;
  --ion-text-color:#eeeeee;

  --ion-color-primary: #77216F;
  --ion-color-primary-rgb: 119,33,111;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #691d62;
  --ion-color-primary-tint: #85377d;

  --ion-color-secondary: #411934;
  --ion-color-secondary-rgb: 65,25,52;
  --ion-color-secondary-contrast: #ffffff; --ion-color-secondary-contrast-rgb: 255,255,255; --ion-color-secondary-shade: #39162e;
  --ion-color-secondary-tint: #543048;


   --ion-color-tertiary: #F7C0F2;
   --ion-color-tertiary-rgb: 247,192,242;
   --ion-color-tertiary-contrast: #000000;
   --ion-color-tertiary-contrast-rgb: 0,0,0;
   --ion-color-tertiary-shade: #d9a9d5;
   --ion-color-tertiary-tint: #f8c6f3;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255; 
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  
  --ion-color-warning: #e9bb20;
  --ion-color-warning-rgb: 233,187,32;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #cda51c;
  --ion-color-warning-tint: #ebc236;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #111111;
  --ion-color-dark-rgb: 17,17,17;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #0f0f0f;
  --ion-color-dark-tint: #292929;

  --ion-color-medium: #AEA79F;
  --ion-color-medium-rgb: 174,167,159;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #99938c;
  --ion-color-medium-tint: #b6b0a9;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

}


.ion-color-male {
  --ion-color-base: #87cefa;
  --ion-color-rgb: 135,206,250;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #77b5dc;
  --ion-color-tint: #93d3fb;
}

.ion-color-female {
  --ion-color-base: #ffc0cb;
  --ion-color-rgb: 255,192,203;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #e0a9b3;
  --ion-color-tint: #ffc6d0;
}

h3 {
  color: var(--ion-color-tertiary);
}