<ion-app dir="rtl">


	<ion-menu contentId="content1" side="end" type="push">
	    <ion-header>
	      <ion-toolbar color="primary">
	        <ion-title>القائمة</ion-title>
	      </ion-toolbar>
	    </ion-header>
	    <ion-content>
	      <ion-list>

	      <ion-item *ngIf="cachedSrvs.user_details">
	      		<ion-label (click)="showMyProfile()">
	      			صفحتي
	      		</ion-label>
	      		<ion-icon name="person"></ion-icon>
	      	</ion-item>

	      	<ion-item *ngIf="cachedSrvs.user_details">
	      		<ion-label (click)="showMyDownloads()">
	      			تنزيلاتي
	      		</ion-label>
	      		<ion-icon name="download"></ion-icon>
	      	</ion-item>

	      	<ion-item>
	      		<ion-label (click)="showDownloaded()">
	      			اخر التنزيلات (من قبل الجميع)
	      		</ion-label>
	      		<ion-icon name="download"></ion-icon>
	      	</ion-item>

	      	<ion-item>
	      		<ion-label (click)="showArtists()">
	      			الفنانين
	      		</ion-label>
	      		<ion-icon name="people"></ion-icon>
	      	</ion-item>

	      	<ion-item>
	      		<ion-label (click)="showFeedback()">
	      			اطلب اغنيتك هنا
	      		</ion-label>
	      		<ion-icon name="archive"></ion-icon>
	      	</ion-item>

	      	<ion-item>
				<ion-label (click)="showTerms()">
	      			شروط الاستخدام و التعليمات
	      		</ion-label>
	      	</ion-item>

	      	<ion-item>
				<ion-label (click)="logout()">
	      			تسجيل خروج
	      		</ion-label>
	      		<ion-icon name="log-out"></ion-icon>
	      	</ion-item>

	      </ion-list>
	    </ion-content>
	</ion-menu>

  <ion-router-outlet id="content1" main></ion-router-outlet>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
 