<h3>قوائم التشغيل</h3>
<div *ngFor="let p of playlists">
	<h3 (click)="showPlaylist(p)">
		#{{p.name}} ({{p.favorites_count}}<ion-icon name="heart"></ion-icon>)
	</h3>

	<ion-list *ngIf="getTracksOf(p.id)">
		<div *ngFor="let t of getTracksOf(p.id).tracks['results']" 
		(click)="playTrack(p, t)">
			<app-track [track]="t"></app-track> 
		</div>
	</ion-list>


	<ion-button *ngIf="getTracksOf(p.id) && getTracksOf(p.id).tracks['next']" (click)="moreTracks(getTracksOf(p.id))">المزيد</ion-button>
</div>


<ion-infinite-scroll threshold="5%" (ionInfinite)="more($event)">
	<ion-infinite-scroll-content
		loadingSpinner="bubbles"
		loadingText="تحميل المزيد...">
	</ion-infinite-scroll-content>
</ion-infinite-scroll>