<ion-header>
  <app-welcome back="true" userProfile="true"></app-welcome>
</ion-header>

<ion-content padding *ngIf="kasait_user">
	<h3>صاحب القائمة</h3>
	
	<ion-grid>
	  <ion-row>
	  <ion-col size="4">

	    <!-- following/followes -->
	    <ion-button fill="clear" (click)="showFollowing()">
	      يتابع: {{kasait_user.following_count}}
	    </ion-button>

	    <br />

	    <ion-button fill="clear" (click)="showFollowers()">
	      متابعين: {{kasait_user.followers_count}}
	    </ion-button>


	  </ion-col>
	  <ion-col size="4">
	  

	    <!-- name -->
	    <ion-button fill="outline" size="small"
	    (click)="showUserProfile()">{{kasait_user.user.first_name}} {{kasait_user.user.last_name}}</ion-button>

	    <br />

	    <!-- bio -->
	    <ion-label color="medium">{{kasait_user.bio}}</ion-label>

	    <br />
	    <!-- gender -->
	    <ion-icon *ngIf="kasait_user.gender==1" name="male" color="male"></ion-icon>
	    <ion-icon *ngIf="kasait_user.gender==2" name="female" color="female"></ion-icon>

	  </ion-col>
	  <ion-col size="4">

	    <!-- image -->
	    <img class="profile_image" src="{{kasait_user.avatar}}">

	    

	  </ion-col>
	  </ion-row>
	  </ion-grid>
	 


	<ion-item>
		<h3>#{{playlist.name}} ({{playlist.favorites_count}}<ion-icon name="heart"></ion-icon>)</h3>
		<ion-button *ngIf="isOwner" color="danger" slot="end" (click)="delete()">
			<ion-icon name="trash"></ion-icon>
			حذف
		</ion-button>

		<ion-button *ngIf="!isOwner" (click)="faveHashtag()">
			<ion-icon name="heart"></ion-icon>
		</ion-button>
	</ion-item>

	<ion-list *ngIf="tracks">
		<ion-item-sliding *ngFor="let t of tracks" >
			<ion-item-options *ngIf="isOwner" side="start" style="direction:ltr">
		    	<ion-item-option color="danger" (click)="remove(t)">
		    		<ion-icon name="trash"></ion-icon>
		    	</ion-item-option>
		    </ion-item-options>

		    <ion-item (click)="playTrack(t)">
				<ion-item-group>
						<ion-label>{{t.name}}</ion-label>

						<ion-label class="small-label">{{t.artists[0].name}}</ion-label>


						<ion-label class="small-label" slot="end" >
							<ion-icon name="stats" size="small">
							</ion-icon>
							{{t.listened_times}}
						</ion-label>

				</ion-item-group>

				<ion-thumbnail slot="end">
				 <img src="{{t.artists[0].file}}">
				</ion-thumbnail>
			</ion-item>
			
		</ion-item-sliding>
	</ion-list>
	<ion-label *ngIf="tracks_count != -1 && tracks_count === 0">
		لا يوجد اغاني في هذه القائمة
	</ion-label>

	<ion-infinite-scroll threshold="5%" (ionInfinite)="more($event)">
		<ion-infinite-scroll-content
			loadingSpinner="bubbles"
			loadingText="تحميل المزيد...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>


</ion-content>
<app-mini-player></app-mini-player>