<ion-header>
    <app-welcome back="true"></app-welcome>
</ion-header>

<ion-content padding *ngIf="kasait_user">

	<ion-grid>
	  <ion-row>
	  <ion-col size="4">

	    <!-- following/followes -->
	    <ion-button color="tertiary" fill="clear">
	      يتابع: {{kasait_user.following_count}}
	    </ion-button>

	    <br />

	    <ion-button color="tertiary" fill="clear" (click)="showFollowers()">
	      متابعين: {{kasait_user.followers_count}}
	    </ion-button>


	  </ion-col>
	  <ion-col size="4">
	  

	    <!-- name -->
	    <ion-label>{{kasait_user.user.first_name}} {{kasait_user.user.last_name}}</ion-label>

	    <br />

	    <!-- bio -->
	    <ion-label color="medium">{{kasait_user.bio}}</ion-label>

	    <br />
	    <!-- gender -->
	    <ion-icon *ngIf="kasait_user.gender==1" name="male" color="male"></ion-icon>
	    <ion-icon *ngIf="kasait_user.gender==2" name="female" color="female"></ion-icon>

	  </ion-col>
	  <ion-col size="4">

	    <!-- image -->
	    <img class="profile_image" src="{{kasait_user.avatar}}">

	    
	  </ion-col>
	  </ion-row>
	  </ion-grid>
	

	<!-- artists -->
	<h3>فنانين</h3>
	<app-track-feed [artists]="artists"></app-track-feed>
	<ion-label *ngIf="artists_count != -1 && artists_count === 0" >
		لا يوجد متابعه لفنانين
	</ion-label>
	<ion-button *ngIf="artists && nextArtists" (click)="moreArtists()">المزيد</ion-button>

	<!-- users -->
	<h3>مستخدمين</h3>
	<app-track-feed [users]="users"></app-track-feed>
	<ion-label *ngIf="users_count != -1 && users_count === 0" >
		لا يوجد متباعة لمستخدمين
	</ion-label>
	<ion-button *ngIf="users && nextUsers" (click)="moreUsers()">المزيد</ion-button>


	

</ion-content>
<app-mini-player></app-mini-player>
