
<!-- ############### tracks ################ -->
<ion-list *ngIf="tracks">
	<ion-item *ngFor="let t of tracks" 
	(click)="playTrack(t)">
		<ion-item-group>
				<ion-label>{{t.name}}</ion-label>

				<ion-label class="small-label">{{t.artists[0].name}}</ion-label>


				<ion-label class="small-label" slot="end" >
					<ion-icon name="stats" size="small">
					</ion-icon>
					{{t.listened_times}}
				</ion-label>

		</ion-item-group>

		
		<ion-thumbnail slot="end">
		 <img src="{{t.artists[0].file}}">
		</ion-thumbnail>

		
	</ion-item>
</ion-list>




<!-- ############### artists ################ -->
<ion-list *ngIf="artists">
	<ion-item *ngFor="let a of artists" text-wrap (click)="showArtist(a)">

		<ion-label text-wrap>{{a.name}}</ion-label>


		<ion-item-group>
		<ion-label class="small-label" color="medium" text-wrap>
			عدد الاغاني: {{a.track_count}}
		</ion-label>

		<ion-label class="small-label" color="medium" text-wrap>
			عدد المتابعين: {{a.subscribe_count}}
		</ion-label>
		</ion-item-group>

		<ion-thumbnail slot="end">
		 <img src="{{a.file}}">
		</ion-thumbnail>

		
	</ion-item>
</ion-list>



<!-- ############### hashtags ################ -->
<ion-list *ngIf="hashtags">
	<ion-item *ngFor="let h of hashtags" (click)="showHashtag(h)" >

		<ion-label>#{{h.name}} ({{h.favorites_count}}<ion-icon name="heart"></ion-icon>)</ion-label>

	</ion-item>
</ion-list>




<!-- ############### kasait users ################ -->
<ion-list *ngIf="users">
	<ion-item *ngFor="let u of users" text-wrap
	(click)="showUserProfile(u)">
	
		<ion-avatar slot="start">
			<img src="{{u.avatar}}">
		</ion-avatar>

		<ion-label text-wrap>{{u.user.first_name}} {{u.user.last_name}} </ion-label>

		<ion-label class="small-label" color="medium" text-wrap><b>bio:</b> {{u.bio}}</ion-label>


	</ion-item>
</ion-list>



<!-- ############### albums ################ -->
<ion-list *ngIf="albums">
	<ion-item *ngFor="let a of albums" text-wrap (click)="showAlbum(a)">

		<ion-label text-wrap>{{a.name}}</ion-label>


		<ion-item-group>
		<ion-label class="small-label" color="medium" text-wrap>
			عدد الاغاني: {{a.number_of_tracks}}
		</ion-label>

		<ion-label class="small-label" color="medium" text-wrap>
			سنة: {{a.publish_date | date: 'yyyy'}}
		</ion-label>
		</ion-item-group>

		<ion-thumbnail slot="end">
		 <img src="{{a.file}}">
		</ion-thumbnail>

		
	</ion-item>
</ion-list>