<h3>الاغاني المحملة</h3>
<ion-list [hidden]="tracks == null">

	 <ion-item-sliding *ngFor="let t of tracks.slice().reverse()" >
	 	<ion-item-options side="start" style="direction:ltr">
	    	<ion-item-option color="danger" (click)="remove(t)">
	    		<ion-icon name="trash"></ion-icon>
	    	</ion-item-option>
	    </ion-item-options>

	    <ion-item (click)="playTrack(t)">
		    <ion-item-group>
					<ion-label>{{t.name}}</ion-label>

					<ion-label class="small-label">{{t.artists[0].name}}</ion-label>


					<ion-label class="small-label" slot="end" >
						<ion-icon name="stats" size="small">
						</ion-icon>
						{{t.listened_times}}
					</ion-label>

			</ion-item-group>

			
			<ion-thumbnail slot="end">
			 <img src="{{t.artists[0].file}}">
			</ion-thumbnail>
		</ion-item>
	</ion-item-sliding>
</ion-list>
<ion-label *ngIf="tracks && tracks.length === 0">
	لا يوجد لديك اغاني محملة
</ion-label>