<ion-header>
  <ion-toolbar color="primary">
    <ion-title>شروط الاستخدام</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-slides pager="true" [options]="slideOpts">
      
      <ion-slide>
      	<ion-list>

      		<ion-item>
      			<h1>شروط الاستخدام</h1>
			</ion-item>


			<ion-item>
        		تطبيق كاسيت يمكّنك من الاستمتاع بسماع الاغاني و الموسيقى العربية. نحن في كاسيت نحاول بقدر المستطاع ان لا نخرق او نعتدي على حقوق الانتاج او النشر. و بنفس الوقت نحاول ان نصنع منصة جميلة للمستمع العربي تحتوي على مجموعة اغاني عربية جميلة. اذا كنت المغني او احد المنتجين او الناشرين لاغنية او لمجموعة اغاني, و عثرت على اغنية تجاوزت حقوق النشر في تطبيق كاسيت, فهي بغير قصد وبغير نية لخرق الحقوق (اما اننا لم نستطع التواصل مع شركة الانتاج او الفنان لاخذ الاذن او اننا ظننا بان الاغنية لا تحمل اي حقوق - كالجلسات او الاغاني المنشورة في الحسابات او المواقع العامة). يرجى منك مراسلتنا على هذا الايميل ( kasaitapp@gmail.com ). وسنكون سعداء بالتواصل معكم و حل اي اشكال باذن الله.
			</ion-item>

		
			<ion-item>
	        	في تطبيق كاسيت سواء كانت النسخة المجانية (تحتوي على اعلانات) او النسخة المدفوعة, المبلغ المدفوع (النسخة المدفوعة) او ارباح الاعلانات (النسخة المجانية) هي مقابل خدمة سهولة البحث عن اغنية و الخدمات الاخرى التي يوفرها تطبيق كاسيت للمستخدم مثل حساب خاص, قوائم خاصة, الاستماع اون لاين و اوف لاين, وغيرها, ولكنها ليست مقابل انتاج او نشر الاغاني فنحن لا نملك جميع الاغاني المعروضة في تطبيق كاسيت.
			</ion-item>


	        <ion-item>
	        	هذا التطبيق هو عمل شخصي اقوم عليه انا شخصياً من ناحية جمع الاغاني وبرمجة التطبيق. لذلك هو مجهود شخصي ويحتمل كثرة الاخطاء سواءاً كانت اخطاء تقنية او قانونية. ساكون سعيد بملاحظاتكم او ارشاداتكم عن طريق التواصل معي على هذا الايميل  ( kasaitapp@gmail.com ).
			</ion-item>

	        <ion-item>
	       		شكرا
	       <!-- 	</ion-item>
	       	<ion-item> -->
	       	<br />
				اخوكم حمد
			</ion-item>


		</ion-list>
      </ion-slide>



      <ion-slide>
        <ion-list>

      		<ion-item>
      			<h1>الخصوصية</h1>
			</ion-item>


			<ion-item >
        		<ion-label class="label" text-wrap>جميع معلوماتك في تطبيق كاسيت هي خاصة لك و لا يتم نشرها او عرضها او بيعها. معلوماتك الشخصية و صورتك التي سجلت بها ستعرض في صفحة المستخدمين حيث جميع مستخدمي كاسيت يمكنهم رؤيتها. في حال بحثك عن اغنية او فنان ولم يتم العثور على نتائج, حينها سيقوم تطبيق كاسيت بحفظ كلمات البحث لتحسين جودة التطبيق و اضافة ما لم يتم العثور عليه مستقبلا. استخدامك للتطبيق هو موافقتك لهذه الشروط.
        		</ion-label>
			</ion-item>

		</ion-list>
      </ion-slide>


      <ion-slide>
        <ion-list>

      		<ion-item>
      			<h1>البحث</h1>
			</ion-item>


			<ion-item >
        		<ion-label class="label" text-wrap>يمكنك البحث عن اغنية, فنان, او هاشتاق عن طريق ايقونة البحث <ion-icon color="light" name="search"></ion-icon>
        		.
        		<br /><br /><br /><br /><br /><br /><br />
        		</ion-label>
			</ion-item>

		</ion-list>
      </ion-slide>










      <ion-slide>
        <ion-list>

      		<ion-item>
      			<h1>اطلب اغنية</h1>
			</ion-item>


			<ion-item >
        		<ion-label class="label" text-wrap>في حال لم تجد الاغنية في البحث, يمكنك طلب الاغنية عن طريق نقر القائمة في الزاوية اليمنى في الاعلى <ion-icon color="light" name="menu"></ion-icon>
        		 ثم الضغط على اطلب اغنيتك هنا. يمكنك كتابة اسم الفنان و اسم الاغنية و رابط الاغنية ان امكن. اذا كان الرابط يحتوي على (mp3.) في نهايته فيمكنك تشغيل الاغنية مباشرة و تحميلها. يرجى التاكد من مصدر الرابط و مراعاة الحقوق و التاكد من ان الاغنية لا تحتوي على حقوق نشر. تطبيق كاسيت غير مسؤول عن اي مخالفة يقوم بها المستخدم و يتحمل المستخدم المسؤولية عند تحميل اي اغنية من مصدر خارجي.</ion-label>
			</ion-item>

		</ion-list>
      </ion-slide>




      <ion-slide>
        <ion-list>

      		<ion-item>
      			<h1>احفظ اغنية</h1>
			</ion-item>


			<ion-item >
        		<ion-label class="label" text-wrap>
					عند استماعك الى اغنية, يمكنك تحمليها على جهازك و تشغيلها اوف لاين مستقبلا. وذلك عن طريق تكبير الاغنية بالضغط على <ion-icon color="light" name="square-outline"></ion-icon> ومن ثم الضغط على زر الحفظ <ion-icon color="light" name="download"></ion-icon>. يمكنك فتح صفحة التنزيلات عن طريق صفحتك الشخصية في الاسفل اضغط على <ion-icon color="light" name="download"></ion-icon>, او ان لم تكن مسجلا, تجدها في القائمة في الاعلى <ion-icon color="light" name="menu"></ion-icon> و الضغط على تنزيلاتي. تستطيع حذف الاغنية المنزله عن طريق سحبها على اليمين ومن ثم الضغط على ايقونه <ion-icon color="light" name="trash"></ion-icon>.
				</ion-label>
			</ion-item>

		</ion-list>
      </ion-slide>




       <ion-slide>
        <ion-list>

      		<ion-item>
      			<h1>الهاشتاقات</h1>
			</ion-item>


			<ion-item >
        		<ion-label class="label" text-wrap>الهاشتاقات هي كلمات دلالية تستخدم في البحث و ترتيب الاغاني. عند البحث عن هاشتاق لا تكتب #. الهاشتاق يكون اما كلمة دلالية وضعت بواسطة تطبيق كاسيت او يكون قائمة قام بعملها احد المستخدمين حيث يجمع اغانيه المفضله في هذه القائمة. يمكنك فتح القائمة او الهاشتاق و اضافته للمفضلة لديك بواسطة الضغط على <ion-icon color="light" name="heart"></ion-icon>. يمكنك البحث ايضا عن هاشتاق معين مثلا (كلمات_بدر_عبدالمحسن, الحان_خالد_عبدالرحمن, ايقاع_سامري, او مقام_سيكا) و عند النقر على الهاشتاق ستفتح لك صفحة الهاشتاق وفيها جميع الاغاني التي فيها هذا الهاشتاق (مثلا مقام_سيكا يحتوي على جميع الاغاني من مقام السيكا). طبعا نحن نحاول ان نرتب وان نضع هذه الهاشتاقات يدويا وذلك لصعوبة جعل الامر اوتوماتيكيا حيث انه من الصعب ان يقوم الكمبيوتر بمعرفة المقام او الايقاع وغيره ... 
				</ion-label>
			</ion-item>

		</ion-list>
      </ion-slide>




	<ion-slide>
        <ion-list>

      		<ion-item>
      			<h1>شكرا</h1>
			</ion-item>


			<ion-item >
        		<ion-label class="label" text-wrap>شكرا لك لاختيارك كاسيت. ونتمنى لك استماعاً ممتعا <ion-icon color="light" name="happy"></ion-icon>
				</ion-label>
			</ion-item>

			<ion-item>
				<ion-button (click)="skip()" size="large" expand="block">
				<ion-icon  color="light" name="home"></ion-icon>
				</ion-button>
			</ion-item>

		</ion-list>
      </ion-slide>

    </ion-slides>



    <ion-item>
    	<a slot="end" (click)="skip()">تخطي</a>
    </ion-item>
</ion-content>
