<ion-toolbar color="primary">

	<ion-button fill="clear" color='light' *ngIf="cachedSrvs.user_details"
					  size='small' 
	 (click)="showMyProfile()">
	 اهلا بك {{cachedSrvs.user_details.user.first_name}}
		<ion-icon slot="start" name="person"></ion-icon>
	</ion-button>



	<ion-button *ngIf="back" fill="clear" color='light'
			 slot="end" size='small' 
	    		(click)="search($event)">
	  <ion-icon name="search"></ion-icon>
	</ion-button>

	<ion-button fill="clear" color='light' slot="end" size='small' 
	    		(click)="goHome()">
	  <ion-icon name="home"></ion-icon>
	</ion-button>

	<ion-button *ngIf="back" fill="clear" color='light'
			 slot="end" size='small' 
	    		(click)="goBack()">
	  >
	</ion-button>

     <ion-buttons slot="start">
      <ion-menu-button autoHide="true" ></ion-menu-button> 
    </ion-buttons>

</ion-toolbar>