<ion-header>
  <ion-toolbar color="primary">
    <ion-title>تسجيل جديد</ion-title>

    <ion-button fill="clear" color='light'
			 slot="end" size='small' 
	    		(click)="goLogin()">
	  >
	</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<h3 class="error">{{message}}</h3>
 

	<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
		<ion-list>
			<ion-item-group>
				<ion-label class="discription">* من 6 الى 200 حرف</ion-label>
				<ion-input placeholder="الايميل" formControlName="username"
				type="email"
				  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
				</ion-input>
			</ion-item-group>

			<ion-item-group>
				<ion-label class="discription">* من 6 الى 25 حرف</ion-label>
				<ion-input type='password' placeholder="كلمة السر" formControlName="password">
				</ion-input>
			</ion-item-group>
		
			<ion-item-group>
			<ion-input type='password' placeholder="اعد كلمة السر" formControlName="repassword">
			</ion-input> 
</ion-item-group>

<ion-item-group>
				<ion-label class="discription">* من 2 الى 50 حرف</ion-label>
			<ion-input placeholder="الاسم الاول" formControlName="firstname">
			</ion-input>
</ion-item-group>

<ion-item-group>
			<ion-input placeholder="العائة" formControlName="lastname">
			</ion-input>
</ion-item-group>

<ion-item-group>
		  	<ion-label>الجنس</ion-label>
			<ion-list>
			  <ion-radio-group formControlName="gender"> 
			    <ion-item>
			      <ion-label>مخفي</ion-label>
			      <ion-radio slot="start" value="0" checked></ion-radio>
			    </ion-item>

			    <ion-item>
			      <ion-label>ذكر</ion-label>
			      <ion-radio slot="start" value="1"></ion-radio>
			    </ion-item>

			    <ion-item>
			      <ion-label>انثى</ion-label>
			      <ion-radio slot="start" value="2"></ion-radio>
			    </ion-item>
			  </ion-radio-group>
			</ion-list>
</ion-item-group>

<ion-item-group>
				<ion-label class="discription">250 حرف حد اقصى</ion-label>
			<ion-input placeholder="bio" formControlName="bio">
			</ion-input>
</ion-item-group>
			

<ion-item-group>
			<ion-label>صورة</ion-label>
			<ion-button  (click)="AccessGallery()">
				<ion-icon name="image"> Gallery</ion-icon>
			</ion-button>

			<img [src]="base64Image" *ngIf="base64Image" />
		</ion-item-group>

<ion-item-group>
			<ion-button type="submit" [disabled]="!signupForm.valid"
				            >
				تسجيل
			</ion-button>
</ion-item-group>


		</ion-list>
	</form>



</ion-content>
