<ion-header>
	<app-welcome back="true"></app-welcome>
</ion-header>

<ion-content padding>


	<div *ngIf="tracks">
		<app-track-feed [tracks]="tracks"></app-track-feed>

		<ion-infinite-scroll threshold="5%" (ionInfinite)="more($event)">
	    	<ion-infinite-scroll-content
	        	loadingSpinner="bubbles"
	        	loadingText="تحميل المزيد...">
	    	</ion-infinite-scroll-content>
	    </ion-infinite-scroll>
	</div>


</ion-content>

<app-mini-player></app-mini-player>