<h3>الهاشتاقات المفضلة</h3>
<ion-list [hidden]="hashtags == null">
	 <ion-item-sliding *ngFor="let h of hashtags" >
	 	<ion-item-options side="start" style="direction:ltr">
	    	<ion-item-option color="danger" (click)="remove(h)">
	    		<ion-icon name="trash"></ion-icon>
	    	</ion-item-option>
	    </ion-item-options>

	    <ion-item (click)="showHashtag(h)">
			<ion-label>#{{h.name}}</ion-label>
		</ion-item>
	</ion-item-sliding>
</ion-list>
<ion-label *ngIf="loaded && hashtags.length === 0">
	لا يوجد لديك هاشتاقات في المفضلة
</ion-label>

<ion-infinite-scroll threshold="5%" (ionInfinite)="more($event)">
 <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="تحميل المزيد...">
 </ion-infinite-scroll-content>
</ion-infinite-scroll>

