<!-- ############### track ################ -->

<ion-item>
	<ion-item-group>
			<ion-label>{{track.name}}</ion-label>

			<ion-label class="small-label">{{track.artists[0].name}}</ion-label>


			<ion-label class="small-label" slot="end" >
				<ion-icon name="stats" size="small">
				</ion-icon>
				{{track.listened_times}}
			</ion-label>

	</ion-item-group>


	<ion-thumbnail slot="end">
	 <img src="{{track.artists[0].file}}">
	</ion-thumbnail>
</ion-item>
