
 <ion-grid>
        <ion-row nowrap>
          <ion-col>
            <ion-button size="small" (click)="changeFilter(1)" [color]="isAll ? 'primary' : 'tertiary'" expand="block" (click)="changeFilter(1)">الكل
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" [color]="(isTracks || isAll) ? 'primary' : 'tertiary'" expand="block" (click)="changeFilter(2)">أغنية
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" [color]="(isArtists || isAll) ? 'primary' : 'tertiary'" expand="block" (click)="changeFilter(3)">فنان
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" [color]="(isHashtags || isAll) ? 'primary' : 'tertiary'" expand="block" (click)="changeFilter(4)">هاشتاق</ion-button>
          </ion-col>
          <ion-col *ngIf="cachedSrvs.user_details">
            <ion-button size="small" [color]="(isUsernames || isAll) ? 'primary' : 'tertiary'" expand="block" (click)="changeFilter(5)">اسم المستخدم
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


<!-- // ################## tracks #################### // -->
<h3 padding [hidden]="!isSearchDone || !(isTracks || isAll)">أغاني ({{tracks_count}})</h3>
<div padding id="tracks" [hidden]="!isSearchDone || ((tracks && tracks.length == 0) || !(isTracks || isAll))">

	<app-track-feed [tracks]="tracks">
	</app-track-feed>

	<ion-button [hidden]="!isAll" (click)="changeFilter(2)"  color='primary'>المزيد من الاغاني</ion-button>

	<ion-infinite-scroll [disabled]="isAll" threshold="5%" (ionInfinite)="moreSearchTracks($event)">
     <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="تحميل المزيد...">
     </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</div>
<ion-item class="ion-text-center" [hidden]="!isSearchDone || (tracks && tracks.length > 0) || !(isTracks || isAll)">
	<ion-label>لا توجد نتائج</ion-label>
</ion-item>


<!-- <ion-item class="ion-text-center" *ngIf="isSearchDone && tracks && tracks.length === 0 && (isTracks || isAll) && tracks_count === 0">
	<ion-label>لا توجد نتائج</ion-label>
</ion-item> -->


<!-- // ################## artists #################### // -->
<h3 padding [hidden]="!isSearchDone || !(isArtists || isAll)">فنانين ({{artists_count}})</h3>
<div padding id="artists" [hidden]="!isSearchDone || ((artists && artists.length === 0) || !(isArtists || isAll))">

	<app-track-feed [artists]="artists">
	</app-track-feed>

	<ion-button [hidden]="!isAll" (click)="changeFilter(3)"  color='primary'>المزيد من الفنانين</ion-button>

	<ion-infinite-scroll [disabled]="isAll" threshold="5%" (ionInfinite)="moreSearchArtists($event)">
     <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="تحميل المزيد...">
     </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</div>
<ion-item class="ion-text-center" [hidden]="!isSearchDone || (artists && artists.length > 0) || !(isArtists || isAll)">
	<ion-label>لا توجد نتائج</ion-label>
</ion-item>



<!-- // ################## hashtags #################### // -->
<h3 padding [hidden]="!isSearchDone || !(isHashtags || isAll)">هاشتاقات ({{hashtags_count}})</h3>
<div padding id="hashtags" [hidden]="!isSearchDone || ((hashtags && hashtags.length === 0) || !(isHashtags || isAll))">

	<app-track-feed [hashtags]="hashtags">
	</app-track-feed>

	<ion-button [hidden]="!isAll" (click)="changeFilter(4)"  color='primary'>المزيد من الهاشتاقات</ion-button>

	<ion-infinite-scroll [disabled]="isAll" threshold="5%" (ionInfinite)="moreSearchHashtags($event)">
     <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="تحميل المزيد...">
     </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</div>

<ion-item-group [hidden]="!isSearchDone || (hashtags && hashtags.length > 0) || !(isHashtags || isAll)">
	<ion-item class="ion-text-center" >
		<ion-label>لا توجد نتائج
			<ion-button (click)="showAddPlaylist()">
				اضافة
				<ion-icon name="add"></ion-icon>
			</ion-button>
		</ion-label>
	</ion-item>
	<ion-item *ngIf="addingPlaylist">

		<ion-input required placeholder="اكتب هنا اسم قائمة جديدة" [(ngModel)]="newPlaylistName">
		</ion-input>
		<ion-button disabled="{{newPlaylistName.length === 0}}"
		            (click)="addPlaylist()">
			<ion-icon name="add"></ion-icon>
		</ion-button>
	
	</ion-item>
	
</ion-item-group>




<!-- // ################## usernames #################### // -->
<div *ngIf="cachedSrvs.user_details">
	<h3 padding [hidden]="!isSearchDone || !(isUsernames || isAll)">اسماء مستخدمين ({{usernames_count}})</h3>
	<div padding id="usernames" [hidden]="!isSearchDone || ((usernames && usernames.length == 0) || !(isUsernames || isAll))">

		<app-track-feed [users]="usernames">
		</app-track-feed>

		<ion-button [hidden]="!isAll" (click)="changeFilter(5)"  color='primary'>المزيد من المستخدمين</ion-button>

		<ion-infinite-scroll [disabled]="isAll" threshold="5%" (ionInfinite)="moreSearchUsernames($event)">
	     <ion-infinite-scroll-content
	        loadingSpinner="bubbles"
	        loadingText="تحميل المزيد...">
	     </ion-infinite-scroll-content>
	    </ion-infinite-scroll>
	</div>
	<ion-item class="ion-text-center" [hidden]="!isSearchDone || (usernames && usernames.length > 0) || !(isUsernames || isAll)">
		<ion-label>لا توجد نتائج</ion-label>
	</ion-item>
</div>

<!-- ################### spinner ################### -->
<div [hidden]="isSearchDone"  class="ion-text-center">
	<ion-spinner></ion-spinner>
</div>