.note {
  position: absolute;
  top: -0.05rem;
  right: -0.05rem;
  opacity: 0.8;

  & ~ ion-icon {
    margin-right: 0.4rem;
  }

  background-color: rgba(0, 0, 0, 0.0);
  color: var(--ion-color-tertiary)
}

.small-label {
  font-size: 0.72em;
}

//ion-list, ion-item {
   // --ion-background-color: var(--ion-color-tertiary);
//}



ion-item {
	color: var(--ion-color-light);
}


ion-infinite-scroll {
	--color: var(--ion-color-light);
}

.profile_image {
	float: left;
}



.controls-parent {
	text-align:center;
}


.progress_container {
	padding-right: 16px;
	padding-left: 16px;
	// background-color: var(--ion-color-tertiary);
}


.progress-background {
  position: absolute;
  left: 0;
  
  width: 100%;
  height: 6px;
  background: var(--ion-color-light);
}


.progress {
  position: absolute;
  left: 0;
  
  width: 1px;
  height: 6px;
  background: var(--ion-color-primary);
  transition: width .1s linear;
}

.buffer {
  position: absolute;
  left: 0;
  
  width: 1px;
  height: 6px;
  background: #F7C0F2;
  transition: width .1s linear;
}


.time-container {
	// background-color: var(--ion-color-tertiary);	
}


.time-current {
  direction: rtl;
  float: left;
  margin-left: 6%;
  // background-color: var(--ion-color-tertiary);
  color: var(--ion-color-light);
}


.time-duration {
  direction: rtl;
	margin-right: 6%;
	// background-color: var(--ion-color-tertiary);
	color: var(--ion-color-light);
}