<ion-header>
	<app-welcome back="true"></app-welcome>
</ion-header>

<ion-content padding #maxContent >
	

	<div *ngIf="playerSrvs.track " >
		

		<ion-grid>
	  	<ion-row>
	  	<ion-col>
			<!-- track name, artist name -->
			<h4>{{playerSrvs.track.name}}</h4>

		    <ion-button color="tertiary" fill="clear" size="small" (click)="showArtist(playerSrvs.track.artists[0])">
		      {{playerSrvs.track.artists[0].name}}
		    </ion-button>

		    <br />

		    <!-- buttons -->
			<ion-button *ngIf="cachedSrvs.user_details" (click)="addToFavorite()">
				<ion-icon name="heart"></ion-icon>
			</ion-button>
			<ion-button (click)="share()">
				<ion-icon name="share"></ion-icon>
			</ion-button>

			<br />

			<ion-button *ngIf="cachedSrvs.user_details" (click)="downloadTrack()">
				<ion-icon name="download"></ion-icon>
			</ion-button>
			<ion-button *ngIf="cachedSrvs.user_details" (click)="bookmarkTrack()">
				<ion-icon name="bookmark"></ion-icon>
			</ion-button>

			<br />

			<ion-button *ngIf="cachedSrvs.user_details" (click)="addToPlaylist()">
				اضف الى قائمة
				<ion-icon name="add"></ion-icon>
			</ion-button>

	    </ion-col>
	    <ion-col>
    		<img class="profile_image" src="{{playerSrvs.track.artists[0].file}}"
    		width="88%">
    	</ion-col>
    	</ion-row>
    	</ion-grid>

		

		<!-- audio controls -->
	    <div class="controls-parent" *ngIf="playerSrvs.track" 
		>

		  <!-- <ion-item-group>  -->
		    <!-- <ion-item> -->
		      <ion-button fill="clear" color="light"
		       size="small" (click)="close()">
		       <ion-icon size="large" name="close"></ion-icon>
		    </ion-button>

		    <ion-button *ngIf="playlistSrvs.isListplay" 
		    size="medium"
		      fill="clear" color="light" (click)="play_next()">
		      <ion-icon name="skip-forward"></ion-icon>
		    </ion-button> 

		    <ion-button size="large" fill="clear" color="light" (click)="pause_play()">
		         <ion-icon name="{{playerSrvs.status}}"></ion-icon>
		    </ion-button>

		    <ion-button size="medium" *ngIf="playlistSrvs.isListplay"
		     fill="clear" color="light" (click)="play_previous()">
		      <ion-icon name="skip-backward"></ion-icon>
		    </ion-button>


		    <ion-button size="medium" fill="clear" color="light"
		                        (click)="playlistSrvs.changeMode()">

		      {{playlistSrvs.isOFF() ? 'OFF' : ''}}

		      <ion-badge *ngIf="playlistSrvs.isRepeatOnce()" class="note" color="primary">1</ion-badge>

		      <ion-icon *ngIf="!playlistSrvs.isOFF()"
		       [color]="!playlistSrvs.isOFF() ? 'tertiary' : ''"
		        name="{{playlistSrvs.icon()}}"></ion-icon>

		    </ion-button>

		</div>



		<!-- track progress -->
		<!-- <div style="width: 100%; text-align:center;">
			<canvas #visAudio ></canvas>
		</div> -->

		<ion-item *ngIf="playerSrvs.track" class="progress_container" (click)="seekTo($event)">

		    <ion-progress-bar *ngIf="playerSrvs.currentPosition === 0" 
		    value="0" buffer="0"
		     color="primary"></ion-progress-bar>

		    <div *ngIf="playerSrvs.currentBuffer > 0"  slot="end" class="progress-background" ></div>

		    <div *ngIf="playerSrvs.currentBuffer > 0" slot="end" [style.width.%]="playerSrvs.currentBuffer * 100" class="buffer" ></div>

		    <div *ngIf="playerSrvs.currentPosition > 0" slot="end" [style.width.%]="playerSrvs.currentPosition * 100" class="progress" ></div>

		</ion-item>
		<div *ngIf="playerSrvs.track" class="time-container">
		  <span class="time-current">{{playerSrvs.currentTime}}</span>
		  <span class="time-duration">{{playerSrvs.duration}}</span>
		</div>







		<!-- song details -->
		<ion-list *ngIf="playerSrvs.trackDetails">
			<ion-item>
				<ion-label >معلومات عن الاغنية:</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>كلمات: {{playerSrvs.trackDetails.written_by }}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>الحان: {{playerSrvs.trackDetails.l7n_by }}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>توزيع: {{playerSrvs.trackDetails.twze3_by }}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>مقام: {{playerSrvs.trackDetails.maqam }}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>ايقاع: {{playerSrvs.trackDetails.eqa3 }}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>تاريخ: {{playerSrvs.trackDetails.publish_date  | date : 'yyyy' }}</ion-label>
			</ion-item>
		</ion-list>


		<!-- hashtags -->
		<ion-label>هاشتاقات</ion-label>
		<ion-list >
			<ion-item>
		    	<ion-text class="small-label">
			    	<span *ngFor="let h of playerSrvs.track.hashtags"
			    	>
			    		#{{h}}
			    	</span>
		    	</ion-text>
		    </ion-item>

		    <ion-item [hidden]="playerSrvs.track.hashtags.length != 0">
			    <ion-label>
		    	لا يوجد هاشتاقات
		    	</ion-label>
		    </ion-item>
	    </ion-list>
	    


	    <!-- original song -->
	    <div *ngIf="playerSrvs.original_song" >
	    	<ion-label>الاغنية الاصلية:</ion-label>
	    	<ion-item (click)="playTrack(playerSrvs.original_song)">
			    <ion-item-group>
					<ion-label>{{playerSrvs.original_song.name}}</ion-label>

					<ion-label class="small-label">{{playerSrvs.original_song.artists[0].name}}</ion-label>


					<ion-label class="small-label" slot="end" >
						<ion-icon name="stats" size="small">
						</ion-icon>
						{{playerSrvs.original_song.listened_times}}
					</ion-label>

				</ion-item-group>

					
				<ion-thumbnail slot="end">
				 <img src="{{playerSrvs.original_song.artists[0].file}}">
				</ion-thumbnail>
			</ion-item>
		</div>


		<!-- cover songs -->
	    <div *ngIf="playerSrvs.cover_songs && playerSrvs.cover_songs.length !=0" >
			<ion-label >مغنون اخرون غنوها:</ion-label>
			<!-- <app-track-feed [tracks]="playerSrvs.cover_songs"
			isMax=true></app-track-feed> -->

			<ion-list [hidden]="playerSrvs.cover_songs == null">
				<ion-item *ngFor="let t of playerSrvs.cover_songs" 
				color="{{color}}"
				(click)="playTrack(t)">

					<ion-item-group>
							<ion-label>{{t.name}}</ion-label>

							<ion-label class="small-label">{{t.artists[0].name}}</ion-label>


							<ion-label class="small-label" slot="end" >
								<ion-icon name="stats" size="small">
								</ion-icon>
								{{t.listened_times}}
							</ion-label>

					</ion-item-group>

					
					<ion-thumbnail slot="end">
					 <img src="{{t.artists[0].file}}">
					</ion-thumbnail>

					
				</ion-item>
			</ion-list>
		</div>


		<!-- comments -->
		<ion-label>تعليقات</ion-label>
		<div *ngIf="playerSrvs.trackComments" >
			<!-- add comment -->
			<ion-button *ngIf="cachedSrvs.user_details" (click)="isComenting = true">
				اكتب تعليق
				<ion-icon name="add"></ion-icon>
			</ion-button>

			<div *ngIf="isComenting">
		      <ion-textarea required placeholder="اكتب تعليق" [(ngModel)]="newCommentText">
		      </ion-textarea>
		      <ion-button disabled="{{newCommentText.length < 2}}"
		                  (click)="addComment()">
		        <ion-icon name="add"></ion-icon>
		      </ion-button>
		    </div>


			<div *ngFor="let c of playerSrvs.trackComments" >
			
				<ion-avatar slot="start">
					<img src="{{c.user_avatar}}">
				</ion-avatar>
				<ion-label>
					{{c.firstname}} {{c.lastname}}
				</ion-label>
			
				<br />
	    		<ion-text>{{c.text}}</ion-text>
	    		<ion-button *ngIf="c.kasaituser === cachedSrvs.user_details.id" color="danger"
	    		(click)="deleteComment(c)">
	    			<ion-icon name="trash" ></ion-icon>
	    		</ion-button>
		    </div>

		     <ion-item [hidden]="playerSrvs.trackComments && playerSrvs.trackComments.length != 0">
			    <ion-label>
		    	لا يوجد تعليقات
		    	</ion-label>
		    </ion-item>
	    </div>

	    <ion-infinite-scroll threshold="5%" (ionInfinite)="playerSrvs.moreComments($event)">
	    	<ion-infinite-scroll-content
	        	loadingSpinner="bubbles"
	        	loadingText="تحميل المزيد...">
	    	</ion-infinite-scroll-content>
	    </ion-infinite-scroll>

	</div>


</ion-content>
<ion-footer *ngIf="downloaderSrvs.downloading === true">
	

	<ion-item>
		<ion-label>
			 {{downloaderSrvs.message}}
			%{{downloaderSrvs.progressText}}
		</ion-label>
	</ion-item>

	<ion-item>
		<ion-progress-bar color="primary"
		 value="{{downloaderSrvs.progress}}"></ion-progress-bar>
	</ion-item>
</ion-footer>
