  <ion-header dir="rtl" >
       <app-welcome></app-welcome>
  </ion-header>



<ion-content #homeContent>

  <!-- <ion-button fill="clear">test</ion-button> -->

<!--   <ion-button (click)="downloaderSrvs.playAudio()"></ion-button>
  <ion-label>{{downloaderSrvs.message}}</ion-label>
 -->

 <!-- <h3 *ngIf="playerSrvs.audioContext">{{playerSrvs.audioContext.sampleRate}}</h3>
 -->
  
 <!--  <audio controls="" src ="https://www.dropbox.com/s/xl1qqvj5wgno44g/%D8%AE%D8%A7%D9%84%D8%AF%20%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D8%B1%D8%AD%D9%85%D9%86%20-%20%D9%84%D9%88%20%D8%A8%D9%83%D9%8A%D8%AA%20-%20CD-qveKYThnIuY.mp3?raw=1"></audio>
  <br />
  
 <img width ="15%" src="https://www.dropbox.com/s/b48fdjo35ftjh32/1.png?raw=1" /> -->

  <ion-item id="SearchBar" [hidden]="!page[pages.Home] && !page[pages.Search]">

    <ion-button [hidden]="searchText==''"  fill="clear" color="light"
      (click)="clearSearch()">
       <ion-icon class="icon-close" name="close"></ion-icon>
    </ion-button>

    <ion-input #searchInput id="searchInput" [ngStyle]="{'font-size':fontSizePx}" placeholder="ابحث هنا"
    (input)='resizeSearch($event.target)'>
      <ion-icon [hidden]="searchText != ''" name="search"></ion-icon>
    </ion-input>


  </ion-item>
 


  <div id="feeds" [hidden]="!page[pages.Home]">
    <app-track-feed *ngIf="!noConnectivity" [tracks]="tracks"></app-track-feed>



  <div *ngIf="noConnectivity" padding>
    <h3>الاغاني المنزلة</h3>
    <ion-list [hidden]="tracks == null">
      <!-- <ion-item *ngFor="let t of tracks.slice().reverse()" (click)="playTrack(t)">

        <ion-item-group>
            <ion-label>{{t.name}}</ion-label>

            <ion-label class="small-label">{{t.artists[0].name}}</ion-label>


            <ion-label class="small-label" slot="end" >
              <ion-icon name="stats" size="small">
              </ion-icon>
              {{t.listened_times}}
            </ion-label>

        </ion-item-group>

        
        <ion-thumbnail slot="end">
         <img src="{{t.artists[0].file}}">
        </ion-thumbnail>

        
      </ion-item> -->

      <ion-item-sliding *ngFor="let t of tracks.slice().reverse()" >
    <ion-item-options side="start" style="direction:ltr">
        <ion-item-option color="danger" (click)="remove(t)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item (click)="playTrack(t)">
        <ion-item-group>
          <ion-label>{{t.name}}</ion-label>

          <ion-label class="small-label">{{t.artists[0].name}}</ion-label>


          <ion-label class="small-label" slot="end" >
            <ion-icon name="stats" size="small">
            </ion-icon>
            {{t.listened_times}}
          </ion-label>

      </ion-item-group>

      
      <ion-thumbnail slot="end">
       <img src="{{t.artists[0].file}}">
      </ion-thumbnail>
    </ion-item>
  </ion-item-sliding>
    </ion-list>
    <ion-label *ngIf="tracks && tracks.length === 0">لا يوجد لديك اي اغاني منزلة</ion-label>
  </div>

    
    <ion-infinite-scroll threshold="5%" (ionInfinite)="more($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="تحميل المزيد...">
     </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

 
  <app-search [hidden]="!page[pages.Search]" enabledSearch="{{page[pages.Search]}}" searchText="{{searchText}}"></app-search>
 
</ion-content>


<app-mini-player></app-mini-player>