<ion-header>
    <app-welcome back="true" userProfile="true"></app-welcome>
</ion-header>

<ion-content padding *ngIf="kasait_user" >


  <ion-grid>
  <ion-row>
  <ion-col size="4">

    <!-- following/followes -->
    <ion-button color="tertiary" fill="clear" (click)="showFollowing()">
      يتابع: {{kasait_user.following_count}}
    </ion-button>

    <br />

    <ion-button color="tertiary" fill="clear" (click)="showFollowers()">
      متابعين: {{kasait_user.followers_count}}
    </ion-button>

    <br />

    <!-- subscribe -->
    <ion-button *ngIf="!isOwner && !isSubscribed()" (click)="subscribe()"> 
      تابع
    </ion-button>
    <ion-button *ngIf="!isOwner && isSubscribed()" (click)="unsubscribe()">
      الغاء المتابعة
    </ion-button>


  </ion-col>
  <ion-col size="4">
  

    <!-- name -->
    <ion-label>{{kasait_user.user.first_name}} {{kasait_user.user.last_name}}</ion-label>

    <br />

    <!-- bio -->
    <ion-label color="medium">{{kasait_user.bio}}</ion-label>

    <br />
    <!-- gender -->
    <ion-icon *ngIf="kasait_user.gender==1" name="male" color="male"></ion-icon>
    <ion-icon *ngIf="kasait_user.gender==2" name="female" color="female"></ion-icon>

  </ion-col>
  <ion-col size="4">

    <!-- image -->
    <img class="profile_image" src="{{kasait_user.avatar}}">

    
  </ion-col>
  </ion-row>
  </ion-grid>
 


	<!-- lists -->
  <div [hidden]="!page[pages.Playlists]">
    <ion-button *ngIf="isOwner" (click)="showAddPlaylist()">
      <ion-icon name="add"></ion-icon>
      اضافة قائمة جديدة
    </ion-button>

    <div *ngIf="addingPlaylist">
      <ion-input required placeholder="اكتب هنا اسم قائمة جديدة" [(ngModel)]="newPlaylistName">
      </ion-input>
      <ion-button disabled="{{newPlaylistName.length === 0}}"
                  (click)="addPlaylist()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </div>

  <app-playlists [hidden]="!page[pages.Playlists]"></app-playlists>

  <div *ngIf="isOwner">
    <app-fave-hashtags [hidden]="!page[pages.FaveHashtags]"></app-fave-hashtags>
    <app-fave-songs [hidden]="!page[pages.FaveSongs]"></app-fave-songs>
    <app-downloaded [hidden]="!page[pages.Downloaded]"></app-downloaded>
    <app-bookmarked [hidden]="!page[pages.Bookmarked]"></app-bookmarked>
  </div>

</ion-content>



<ion-footer >

  <div *ngIf="isOwner">
    <ion-toolbar color="secondary" >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button [color]="page[pages.Bookmarked]? 'primary': 'tertiary'" expand="block" (click)="ShowBookmarked()">
            <ion-icon name="bookmark"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button [color]="page[pages.Downloaded]? 'primary': 'tertiary'" expand="block" (click)="ShowDownloaded()">
            <ion-icon name="download"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button [color]="page[pages.FaveSongs]? 'primary': 'tertiary'" expand="block" (click)="ShowFaveSongs()">
            <ion-icon name="heart"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button [color]="page[pages.FaveHashtags]? 'primary': 'tertiary'" expand="block" (click)="ShowFaveHashtags()">#</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [color]="page[pages.Playlists]? 'primary': 'tertiary'" expand="block" (click)="ShowPlaylists()">
            <ion-icon name="reorder"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </div>

  <app-mini-player></app-mini-player>

</ion-footer>

